.contactstrip__box {
    background: $gray;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
}

.contact__form__header--strip {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    font-size: 2.3rem;
    color: $white;
    border-bottom: 1px solid $white;
}

.contact__form__box--strip {
    display: inline-block;
    text-align: right;
}

.contact__form--strip {
    display: flex;
    justify-content: center;
}

.contact__error--strip {
    font-size: 1.45rem;
    color: $white;
}

.contact__form--strip input { 
    display: block;
    font-size: 1.45rem;
    color: $gray;
    width: 20rem;
    height: 3.4rem;
    padding-right: 1rem;
    font-family: $fontRegular;
    font-weight: $fontSizeRegular;
    border: 1px solid $gray;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
}

.contact__form--strip textarea { 
    display: block;
    font-size: 1.45rem;
    color: $gray;
    width: 20rem;
    height: 10.8rem;
    padding-right: 1rem;
    font-family: $fontRegular;
    font-weight: $fontSizeRegular;
    border: 1px solid $gray;
    margin-left: 0.3rem;
    margin-bottom: 0.8rem;
    resize: none;
}

.contact__imagebutton--strip {
    display: none;
}

.contact__button--strip {
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 0.3rem;
    font-family: $fontRegular;
    font-weight: $fontSizeRegular;
    font-size: 1.45rem;
    color: $white;
    align-self: flex-end;
    white-space: nowrap;
    position: relative;
    -webkit-transition: all $buttonScaleTime ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all $buttonScaleTime ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all $buttonScaleTime ease-in;
    -moz-transform: scale(1);
    transition: all $buttonScaleTime ease-in;
    transform: scale(1);   
}

.contact__button--strip:hover
{
    -webkit-transition: all $buttonScaleTime ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all $buttonScaleTime ease-in;
    -ms-transform: scale(1.15);   
    -moz-transition: all $buttonScaleTime ease-in;
    -moz-transform: scale(1.15);
    transition: all $buttonScaleTime ease-in;
    transform: scale(1.15);
}

//

.contact__follow__box--strip {
    display: inline-block;
    text-align: center;
    margin-left: 8rem;
    margin-right: 5rem;
}

.contact__follow__header--strip {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    font-size: 2.3rem;
    color: $white;
    border-bottom: 1px solid $white;
}

.contact__follow__facebook__icon--strip {
    display: inline-block;
    width: 3rem;
    height: 3.1rem;
    background-image: url('/images/homepage/contactstrip/facebook-icon.svg');
    background-repeat: no-repeat;
    background-size: 3rem 3.1rem;
    margin-top: -0.1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    cursor: pointer;
}

.contact__follow__facebook__icon--strip:hover {
    background-image: url('/images/homepage/contactstrip/facebook-icon-over.svg');
}

.contact__follow__facebook__icon--strip__hover {
    background-image: url('/images/homepage/contactstrip/facebook-icon-over.svg');
    position: absolute;
    z-index: 7004;
    opacity: 0;
}

.contact__follow__instagram__icon--strip {
    display: inline-block;
    width: 3rem;
    height: 3.1rem;
    background-image: url('/images/homepage/contactstrip/instagram-icon.svg');
    background-repeat: no-repeat;
    background-size: 3rem 3.1rem;
    margin-top: -0.1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    cursor: pointer;
}

.contact__follow__instagram__icon--strip:hover {
    background-image: url('/images/homepage/contactstrip/instagram-icon-over.svg');
}

.contact__follow__instagram__icon--strip__hover {
    background-image: url('/images/homepage/contactstrip/instagram-icon-over.svg');
    position: absolute;
    z-index: 7005;
    opacity: 0;
}

//

.contact__contact__box--strip {
    display: inline-block;
    text-align: right;
}

.contact__contact__header--strip {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 0.6rem;
    padding-bottom: 0.2rem;
    font-size: 2.3rem;
    color: $white;
    border-bottom: 1px solid $white;
}

.contact__contact__text__line {
    margin: 0;
    padding: 0;
}

.contact__contact__text--strip {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 1.7rem;
    text-align: right;
    margin-left: 0.6rem;
    margin-top: -0.4rem;
    text-decoration: none;
}

.contact__seperator--strip {
    width: 12rem;
}




@media (max-width: $mobileMaxWidth) {



    .contactstrip__box {
        background: $gray;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .contact__contact__box--strip {
        display: inline-block;
        text-align: center;
    }

    .contact__contact__header--strip {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        font-size: 5.3rem;
        color: $white;
        border-bottom: 1px solid $white;
    }

    .contact__contact__text__line--strip {
        margin-top: 1.2rem;
    }
    .contact__contact__text--strip {
        display: block;
        margin: 0;
        padding: 0;
        color: $white;
        font-size: 3.6rem;
        text-align: center;
        margin-top: -1rem;
    }

    .contact__seperator--strip {
        width: 12rem;
    }





    //

    .contact__follow__box--strip {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .contact__follow__header--strip {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        font-size: 5.3rem;
    }
$contactFollowIcon: 8.2rem;
    .contact__follow__facebook__icon--strip {
        display: inline-block;
        width: $contactFollowIcon;
        height: $contactFollowIcon;
        background-image: url('/images/homepage/contactstrip/facebook-icon.svg');
        background-repeat: no-repeat;
        background-size: $contactFollowIcon $contactFollowIcon;
        margin-top: 0.5rem;
        margin-left: 1.1rem;
        margin-right: 1.1rem;
    }

    .contact__follow__instagram__icon--strip {
        display: inline-block;
        width: $contactFollowIcon;
        height: $contactFollowIcon;
        background-image: url('/images/homepage/contactstrip/instagram-icon.svg');
        background-repeat: no-repeat;
        background-size: $contactFollowIcon $contactFollowIcon;
        margin-top: 0.5rem;
        margin-left: 1.1rem;
        margin-right: 1.1rem;
    }

    //



    .contact__form__header--strip {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding-bottom: 0.2rem;
        font-size: 5.3rem;
        color: $white;
        border-bottom: 2px solid $white;
    }

    .contact__form__box--strip {
        display: block;
        text-align: center;
    }

    .contact__form--strip {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact__error--strip {
        font-size: 3rem;
        color: $white;
    }

    .contact__form--strip input { 
        display: block;
        font-size: 2.4rem;
        color: $gray;
        width: 92vw;
        height: 6.8rem;
        padding-right: 1rem;
        font-family: $fontRegular;
        font-weight: $fontSizeRegular;
        border: 1px solid $gray;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 0.6rem;
    }

    .contact__form--strip textarea { 
        display: block;
        font-size: 2.4rem;
        color: $gray;
        width: 92vw;
        height: 30rem;
        padding-right: 1rem;
        font-family: $fontRegular;
        font-weight: $fontSizeRegular;
        border: 1px solid $gray;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 0.8rem;
    }

    .contact__imagebutton--strip {
        display: none;
    }

    .contact__button--strip {
        width: 92vw;
        height: 7rem;
        font-size: 3.5rem;
        color: $white;
        background: $yellow;
        border: none;
        position: relative;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 3.5rem;
    }
}