@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../../node_modules/slick-carousel/slick/slick.css";



@font-face {
  font-family: Heebo-Regular;
  src: local("Heebo-Regular"), url(/assets/fonts/Heebo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Heebo-Medium;
  src: local("Heebo-Medium"), url(/assets/fonts/Heebo-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Heebo-Bold;
  src: local("Heebo-Bold"), url(/assets/fonts/Heebo-Bold.ttf) format('truetype');
}


@import './base/settings';
@import './base/base';

@import './components/AboutPage';
@import './components/Backoffice';
@import './components/CustomersStrip';
@import './components/ContactStrip';
@import './components/ContactPage';
@import './components/EventsPage';
@import './components/EventPage';
@import './components/Footer';
@import './components/HomePage';
@import './components/NotFoundPage';
@import './components/Navigation';
@import './components/PageUpStrip';

@import './base/fixers';